### Lists

In [1]:
# To change sth to a list:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# The mutable objects are copied by reference
a = [1,2,3,4] # a refers to the list of [1,2,3,4]
b = a # b refers to the list of [1,2,3,4]
a[0] = 0 # By changing the list, a and b refers to the changed list
b

[0, 2, 3, 4]

In [8]:
# The unmutable objects are copied by value
s = 'salam'
t = s
s = 'Hello'
t

'salam'

In [ ]:
# Functions
List.append(x)
List.extend(iterable)
List.insert(i, x)
List.remove(x) # remove by value
List.pop([i]) # remove by index
List.clear() # clear the list (del List[:])
List.index(x, start, end)
List.count(x)
List.sort(key=None,reverse=False)
List.reverse()
List.copy()

In [33]:
# Lists as Stacks
stack = ['1st', '2nd', '3rd']
stack.append('4th')
stack

['1st', '2nd', '3rd', '4th']

In [34]:
stack.pop()

'4th'

In [35]:
# Lists as queues
q = ['a', 'b', 'c']
q.append('D')
q

['a', 'b', 'c', 'D']

In [36]:
q.pop(0)

'a'

In [37]:
# Moving through a list
myList = ['Sedigheh', 'Farasat', 30, 1270127519]
for i, it in enumerate(myList):
    print('Item number {} in my list is {}'.format(i+1, it))

Item number 1 in my list is Sedigheh
Item number 2 in my list is Farasat
Item number 3 in my list is 30
Item number 4 in my list is 1270127519

In [39]:
# Moving through multiple lists
listA = [1, 2, 3, 4]
listB = ['a', 'b', 'c', 'd']
listC = ['I', 'II', 'III', 'IV']
for a, b, c in zip(listA, listB, listC): 
    print("{0}th alphabet or {1} in greece is {2}".format(a, c, b))

1th alphabet or I in greece is a
2th alphabet or II in greece is b
3th alphabet or III in greece is c
4th alphabet or IV in greece is d

In [40]:
# 
L = [4,3,6,2,7]
sorted(L)

[2, 3, 4, 6, 7]

In [42]:
L = [1,2,3,4]
reversed(L)
for i in reversed(L):
    print(i)

4
3
2
1

In [ ]:
#List Comprehension
squared = [x*x for x in range(10)]
matrix = [[j+i*3+1 for j in range(3)] for i in range(3)]
st = [str(x)+str(y) for x in [1, 2, 3] for y in ['A', 'B']]

In [10]:
# del
l = [0,'a', 56, [23,56]]
del l[:2]
l

[56, [23, 56]]

In [13]:
del l
l

NameError: name 'l' is not defined

### Tuples

In [14]:
t = "ali", 123, 2.5 # =("ali", 123, 2.5)

In [17]:
a, b, c = 10, 20, 30
a

10

In [18]:
t = () #empty tuple
tt = a, # single tuple

In [ ]:
#یکی از کاربردهای چندتایی در برگرداندن چند مقدار در یک تابع است

### Sets

In [1]:
# the difference between sets and lists is that there is no repetition and sequences in sets.
f = set()
g = {1,2,3}

In [2]:
# Operators on sets
print(1 in g)

True

In [7]:
# &, |, -, ^
a =set("salam") 
b = set("ali")
print(a&b)
print(a|b)
print(a-b)
print(a^b) #تفاضل متقارن

{'a', 'l'}
{'s', 'm', 'a', 'i', 'l'}
{'s', 'm'}
{'s', 'm', 'i'}

In [10]:
a[0] # because there is no sequence

TypeError: 'set' object is not subscriptable

In [11]:
# معرف مجموعه
{x for x in a if x not in b}

{'m', 's'}

### Dictionary

In [13]:
# it consists of key:value 
d = {"name": "Alicia", "number":123}
list(d)# returns the list of the keys

['name', 'number']

In [14]:
# Another way to build dictionaries
dd = dict([("name","Mary"), ("number", 123)]) #dict(ali=12, amir=2.3)
dd

{'name': 'Mary', 'number': 123}

In [15]:
#معرف دیکشنری
{2*x:x/4 for x in range(5)}

{0: 0.0, 2: 0.25, 4: 0.5, 6: 0.75, 8: 1.0}

In [16]:
#
d = {'ali': 'A', 'amir': 'B'}
for k, v in d.items():
    print(k + " got " + v)

ali got A
amir got B