In [1]:
import pandas as pd

### Series

In [4]:
stocks = pd.Series(['aapl', 'amzn', 'csco'], index=['stock1', 'stock2', 'stock3'])
stocks

stock1    aapl
stock2    amzn
stock3    csco
dtype: object

In [5]:
# Methods: index, values, isnull, dropna, fillna, apply

### Data frames

In [37]:
data = pd.DataFrame({"stock name": ["Alphabet", "Facebook", "Apple", "Tesla", "Infosys"],
                "quantity owned": [1564, 6546, 5464, 6513, 4155],
                "average buy price": ["$950", "$160", "$120", "$270", "$15"]})
data

  stock name  quantity owned average buy price
0   Alphabet            1564              $950
1   Facebook            6546              $160
2      Apple            5464              $120
3      Tesla            6513              $270
4    Infosys            4155               $15

In [9]:
# Methods: index, reindex, reset_index, columns, drop, head, rename, sort_values, count, min, max, mean,
#          diff, pct_change, var, rolling_mean, expanding_mean, cov, corr, kurt, skew, replace, 
#          sort_index, sort_values

In [ ]:
# Reading files
data2 = pd.read_csv('path')

In [38]:
# apply()
data['quantity owned'] = data['quantity owned'].apply(lambda x:'{:.2f}'.format(x))

  stock name quantity owned average buy price
0   Alphabet        1564.00              $950
1   Facebook        6546.00              $160
2      Apple        5464.00              $120
3      Tesla        6513.00              $270
4    Infosys        4155.00               $15

In [15]:
# Indexing
print(data.loc[:, 'stock name'])# a 'label-location' based indexer)
print('-------------------')    
print(data.iloc[0, :])

0    Alphabet
1    Facebook
2       Apple
3       Tesla
4     Infosys
Name: stock name, dtype: object
-------------------
stock name           Alphabet
quantity owned           1564
average buy price        $950
Name: 0, dtype: object

In [ ]:
# Missing Values: isnull, notnull, fillna, dropna

### Group By

In [17]:
my_portfolio = {'Sector': ['IT', 'FMCG', 'Finance', 'Pharma', 'Pharma',
                          'FMCG', 'FMCG', 'IT', 'Finance', 'Real Estate'],
            
            'Company':   ['Infosys', 'Dabur', 'DHFL', 'Divis Lab', 'Lupin',
                         'Ruchira Papers', 'Britianna','Persistent Systems','Bajaj Finance', 'DLF'],
            
            'MarketCap': ['Large Cap','Large Cap','Mid Cap','Mid Cap','Mid Cap',
                         'Small Cap','Mid Cap','Small Cap','Large Cap','Mid Cap'],
            
            'Share Price': [1120,341,610,1123,741,185,5351,720,1937,217],
                
            'Amount Invested': [24000,16000,50000,23000,45000,12000,52000,18000,5000,3500]}

mp = pd.DataFrame(my_portfolio)
mp

        Sector             Company  MarketCap  Share Price  Amount Invested
0           IT             Infosys  Large Cap         1120            24000
1         FMCG               Dabur  Large Cap          341            16000
2      Finance                DHFL    Mid Cap          610            50000
3       Pharma           Divis Lab    Mid Cap         1123            23000
4       Pharma               Lupin    Mid Cap          741            45000
5         FMCG      Ruchira Papers  Small Cap          185            12000
6         FMCG           Britianna    Mid Cap         5351            52000
7           IT  Persistent Systems  Small Cap          720            18000
8      Finance       Bajaj Finance  Large Cap         1937             5000
9  Real Estate                 DLF    Mid Cap          217             3500

In [20]:
# View Groups
print (mp.groupby('Sector').groups)

{'FMCG': Int64Index([1, 5, 6], dtype='int64'), 'Finance': Int64Index([2, 8], dtype='int64'), 'IT': Int64Index([0, 7], dtype='int64'), 'Pharma': Int64Index([3, 4], dtype='int64'), 'Real Estate': Int64Index([9], dtype='int64')}

In [22]:
# A better way to visualise
grouped = mp.groupby('Sector')
for name,group in grouped: 
    print (name)
    print (group)

FMCG
  Sector         Company  MarketCap  Share Price  Amount Invested
1   FMCG           Dabur  Large Cap          341            16000
5   FMCG  Ruchira Papers  Small Cap          185            12000
6   FMCG       Britianna    Mid Cap         5351            52000
Finance
    Sector        Company  MarketCap  Share Price  Amount Invested
2  Finance           DHFL    Mid Cap          610            50000
8  Finance  Bajaj Finance  Large Cap         1937             5000
IT
  Sector             Company  MarketCap  Share Price  Amount Invested
0     IT             Infosys  Large Cap         1120            24000
7     IT  Persistent Systems  Small Cap          720            18000
Pharma
   Sector    Company MarketCap  Share Price  Amount Invested
3  Pharma  Divis Lab   Mid Cap         1123            23000
4  Pharma      Lupin   Mid Cap          741            45000
Real Estate
        Sector Company MarketCap  Share Price  Amount Invested
9  Real Estate     DLF   Mid Cap          217             3500

In [23]:
# Select a group
grouped = mp.groupby('MarketCap')
print (grouped.get_group('Mid Cap'))

        Sector    Company MarketCap  Share Price  Amount Invested
2      Finance       DHFL   Mid Cap          610            50000
3       Pharma  Divis Lab   Mid Cap         1123            23000
4       Pharma      Lupin   Mid Cap          741            45000
6         FMCG  Britianna   Mid Cap         5351            52000
9  Real Estate        DLF   Mid Cap          217             3500

In [27]:
# Aggregations
import numpy as np
print (grouped['Amount Invested'].agg([np.sum, np.mean]))

              sum   mean
MarketCap
Large Cap   45000  15000
Mid Cap    173500  34700
Small Cap   30000  15000

In [28]:
# Transformations
z_score = lambda x: (x - x.mean()) / x.std()
print (grouped.transform(z_score))

   Share Price  Amount Invested
0    -0.015872         0.943456
1    -0.991970         0.104828
2    -0.471596         0.731522
3    -0.229280        -0.559399
4    -0.409718         0.492462
5    -0.707107        -0.707107
6     1.767825         0.827145
7     0.707107         0.707107
8     1.007841        -1.048285
9    -0.657231        -1.491731

In [29]:
# Filteration
print (mp.groupby('MarketCap').filter(lambda x: len(x)>= 3))

        Sector        Company  MarketCap  Share Price  Amount Invested
0           IT        Infosys  Large Cap         1120            24000
1         FMCG          Dabur  Large Cap          341            16000
2      Finance           DHFL    Mid Cap          610            50000
3       Pharma      Divis Lab    Mid Cap         1123            23000
4       Pharma          Lupin    Mid Cap          741            45000
6         FMCG      Britianna    Mid Cap         5351            52000
8      Finance  Bajaj Finance  Large Cap         1937             5000
9  Real Estate            DLF    Mid Cap          217             3500

In [32]:
# Merging/Joining
left_df = pd.DataFrame({
         'id':[1,2,3,4,5],
         'Company': ['Infosys', 'SBI', 'Asian Paints', 'Maruti', 'Sun Pharma'],
         'Sector':['IT','Banks','Paints and Varnishes','Auto','Pharma']})

right_df = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Company': ['NTPC', 'TCS', 'Lupin', 'ICICI', 'M&M'],
         'Sector':['Power','IT','Pharma','Banks','Auto']})

print(pd.merge(left_df,right_df,on=['Sector','Company']))

Empty DataFrame
Columns: [id_x, Company, Sector, id_y]
Index: []

In [33]:
# Merge using 'how' argument
print (pd.merge(left_df, right_df, on='Sector', how='left'))

   id_x     Company_x                Sector  id_y Company_y
0     1       Infosys                    IT   2.0       TCS
1     2           SBI                 Banks   4.0     ICICI
2     3  Asian Paints  Paints and Varnishes   NaN       NaN
3     4        Maruti                  Auto   5.0       M&M
4     5    Sun Pharma                Pharma   3.0     Lupin

In [34]:
# Concatenation
print (pd.concat([left_df, right_df],keys=['x','y']))

     id       Company                Sector
x 0   1       Infosys                    IT
  1   2           SBI                 Banks
  2   3  Asian Paints  Paints and Varnishes
  3   4        Maruti                  Auto
  4   5    Sun Pharma                Pharma
y 0   1          NTPC                 Power
  1   2           TCS                    IT
  2   3         Lupin                Pharma
  3   4         ICICI                 Banks
  4   5           M&M                  Auto